auto_lbox.aux
auto_lbox.bbl
auto_lbox.blg
auto_lbox.log
auto_lbox.out
auto_lbox.pdf
experimentstats.aux
bib.bib
images/*eps
images/*pdf
softdevbib/
artefact.aux
artefact.log
artefact.out
artefact.pdf
corpusstats.aux

